<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepanshu Template</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <li class="logo">Designers</li>
        <div class="linkbox">
            <li class="link">Projects</li>
            <li class="link">About</li>
            <li class="link">Contacts</li>
        </div>
    </nav>
    <header class="container">
        <img alt="image" src="images/design.jpg">
        <div class="brand"><h1>Designers</h1></div>

    </header>
    <div class="projects">
        <h4>Projects</h4>
        <div class="row1">
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
        </div>
        <div class="row1">
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
            <div class="box1">
                <div class="tag">Automobile</div>
                <img alt="auto" src="images/auto.png">
            </div>
        </div>
    </div>
    <div class="about">
        <h4>About</h4>
        <p>BR Designers Company is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.</p>
    </div>
    <div class="row2">
        <div class="box2">
            <img alt="auto" src="images/auto.png">
            <p class="name">Name</p>
            <p class="position">Position</p>
            <p class="aboutcol">About</p>
            <button>Contact</button>
        </div>
        <div class="box2">
            <img alt="auto" src="images/auto.png">
            <p class="name">Name</p>
            <p class="position">Position</p>
            <p class="aboutcol">About</p>
            <button>Contact</button>
        </div>
        <div class="box2">
            <img alt="auto" src="images/auto.png">
            <p class="name">Name</p>
            <p class="position">Position</p>
            <p class="aboutcol">About</p>
            <button>Contact</button>
        </div>
        <div class="box2">
            <img alt="auto" src="images/auto.png">
            <p class="name">Name</p>
            <p class="position">Position</p>
            <p class="aboutcol">About</p>
            <button>Contact</button>
        </div>
    </div>
    <div class="contact">
        <h4>Contact</h4>
        <p>Lets get in touch and talk about your next project.</p>
        <form action="/" target="_blank">
            <input class="form_input" type="text" placeholder="Name" required="" name="Name">
            <input class="form_input" type="text" placeholder="Email" required="" name="Email">
            <input class="form_input" type="text" placeholder="Subject" required="" name="Subject">
            <input class="form_input" type="text" placeholder="Comment" required="" name="Comment">
            <button class="form_button type="submit">
               SEND MESSAGE
            </button>
          </form>
    </div>
    <div class="map">
        <img alt="map" src="images/map.jpg">
    </div>
    <footer>
        <p>Designed by Deepanshu</p>
    </footer>
</body>
</html>